doctype html
html(lang='en')
    head
        title Reset Your Password link
    body
        h1 Please confirm your registration!
        div.remark
            p Please follow the link to update your password account 
            a(href="#{link}") Click Here
