doctype html
html(lang='en')
    head
        title Reset Your Password link
    body
        h1 Reset your password!
        div.remark
            p Please follow the link to update your password account 
            a(href=link) Click Here
            br
            p Or copy and paste the following link to the url: 
            span #{link}
